*{
    margin: 0;
    padding: 0;
}

/*Medias quries*/
/* Moble*/
     
@media only screen and (max-width: 480px) {
  
   }
/*tablet*/
   @media only screen and (min-width:481px) and (max-width:768px) {
   
   }
/*dekstops*/
   @media only screen and (min-width:769px) and (max-width: 1280px) {
  

   }

    

/*Navegador horizontal a la izquierda*/
 
li{
    display:inline-block;
   
}
/*propiedad flexbox y colores del navegador*/
.navegador{
    display: flex  ;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#005d9d;
    color:#f3f3f3;
    padding: 5px;
    
    
}

nav{
    background-color: #6b95ff;
}

ul li a:hover{
    background-color:white;
    color: black;
    
}
/*efecto parallax del header*/
.imagen-header{
    background-image: url("Multimedia/oficina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
}


.carousel-inner img {
    width: 70%;
    height: 700px;
    
    
}


.fotos-servicios:hover{
    border: 5px solid #f7f7f7;
}

.titulo,.servicios,.nosotros,.siniestros{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 40px;
 }
 .seguro{
    color:#005d9d ;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    font-size: 30px;

 }
     .h2,.h3{
        color:#005d9d ;
        font-family: Arial, Helvetica, sans-serif ;
        text-align: center;
        font-size: 30px;

     }   
     .nosotros{
        line-height: 50px;
     }

     .siniestro{
        line-height: 50px;
     }

     .contacto{
        line-height: 50px;
     }

  .subtitulo {
      color: grey ;
      font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .parrafo{
      color: grey;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
      text-indent: 200px;
  }

.fotologo {
    
    width: 250px;
    height: 250px;
    padding:30px ;
    margin:30px;
    
    
}
/*uso grid para la cuadricula de imagenes*/
.auto,.moto,.casa,.familia,.ahorro,.vida {
   display: grid;
   grid-template-columns: 3;
   grid-row: 2;
   margin:10px;
   width: 350px;
   height: 350px;
   border-radius: 30px;

 }

 .nosotros,.siniestros{
    padding: 20px;
    line-height: 40px;
   
 }

 .fotonosotros{
     padding: 50px;
     text-align: center;
 }

 /*Aplico transformacion a las fotos*/

.foto:hover{
    transform: scale(2);
    transition: all 10s linear;
    overflow: hidden;

    
}

.image  a {
        display: none;
    }
    
    .image  a:hover {
        display: block;
    }


    


h2,h3,p {
    text-align-last: center;
}

/*iconos y enlaces de redes sociales*/


    





footer{
    background-color:#6b95ff;
}


